/* src/components/error.css */
.errorContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20vh 10px;
}

.errorCode {
  width: 100%;
  margin: 0 auto;
  font-size: 6rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.errorDigit:first-of-type {
  animation: errorFall1 1s linear;
  transform: rotateZ(-20deg);
}

.errorDigit:nth-of-type(2) {
  animation: errorFall2 1.8s linear;
  transform: rotateZ(8deg);
}

.errorDigit:last-of-type {
  animation: errorFall3 2.5s linear;
  transform: rotateZ(-10deg);
}

@keyframes errorFall1 {
  0% {
    transform: translateY(-100vh) rotateZ(-20deg);
  }
  100% {
    transform: translateY(0) rotateZ(-20deg);
  }
}

@keyframes errorFall2 {
  0% {
    transform: translateY(-100vh) rotateZ(8deg);
  }
  100% {
    transform: translateY(0) rotateZ(8deg);
  }
}

@keyframes errorFall3 {
  0% {
    transform: translateY(-100vh) rotateZ(-10deg);
  }
  100% {
    transform: translateY(0) rotateZ(-10deg);
  }
}

.errorTitle {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 3%;
}

.errorDescription {
  font-size: 0.9rem;
  text-align: justify;
  line-height: 1.6;
  padding: 0 10%;
  color: var(--gray);
}

.action {
  font: inherit;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--blue);
  color: var(--white);
}

.action:hover {
  opacity: 0.8;
}
