/* Estilos generales para escritorio */
.containerSesion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 50vh;
}

.imageSesion, .imageSesion1 {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
    transition: filter 0.3s ease;
    filter: drop-shadow(5px 5px 5px #222);
    display: block;
    border-radius: 5px;
    height: 39vh;
}

.imageSesion:hover, .imageSesion1:hover {
    filter: drop-shadow(10px 10px 20px green);
    transform: scale(1.05);
    cursor: pointer;
}

.textSesion {
    left: 37vw;
    position: absolute;
    color: #434242;
    margin: 20px;
    font-size: 24px;
    width: auto;
    top: 10vh;
    font-weight: bold;
    text-shadow: 1px 1px 2px #6ca26b;
}

.barra {
    position: absolute;
    left: 50%;
    width: 2px;
    top: 35vh;
    height: 60vh;
    background-color: black;
}

.exploraChats, .participaForos {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease;
}

.exploraChats:hover, .participaForos:hover {
    color: #6ca26b;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
    .containerSesion {
        flex-direction: column; /* Cambio a disposición vertical */
        align-items: center;
        top: 60vh; /* Ajuste la posición si es necesario */
    }

    .imageSesion {
        /* Ajustar el tamaño para móviles */
        margin-bottom: 70px; /* Espacio entre imágenes */
    }

    .exploraChats, .participaForos {
        text-align: center;
        margin-bottom: 10px;
    }

    .barra {
        display: none; /* Ocultar la barra en dispositivos móviles */
    }

    .textSesion {
        top: 15vh;
        left: 50%;
        transform: translateX(-50%);
    }
}
